#banner
  .banner_content
    %h1 EverEvernote
    %p Your Life's Work!
    %button= link_to "Sign Up", new_user_registration_path
#testimonial
  .wrapper
    %p.quote "I keep all our important documents with EverEvernote."
    %p.name - President Obama
#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Journal
        Blog PBR&B retro, tofu sustainable Etsy banh mi Intelligentsia salvia. Quinoa migas distillery selvage, chillwave kogi scenester Kickstarter skateboard fingerstache post-ironic irony wolf crucifix.

      .callout
        %h2 Notes
        Blog PBR&B retro, tofu sustainable Etsy banh mi Intelligentsia salvia. Quinoa migas distillery selvage, chillwave kogi scenester Kickstarter skateboard fingerstache post-ironic irony wolf crucifix.

      .callout
        %h2 Epic
        Blog PBR&B retro, tofu sustainable Etsy banh mi Intelligentsia salvia. Quinoa migas distillery selvage, chillwave kogi scenester Kickstarter skateboard fingerstache post-ironic irony wolf crucifix.

#bottom_cta
  .wrapper
    %h2 Store All Your Notes!
    %p Be Different, Join the Elite!
    %button= link_to "Start Here!!!", new_user_registration_path

%footer
  %p &copy; Andre Kibbe
